* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  font-family: Epilogue;
  padding: 6rem 8.3rem 6.6rem;
  background-color: #ece9fd;
}
main {
  margin: auto;
  max-width: 32.9rem;
}
h6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 3px;
  color: #7158ef;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}
h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 4.8rem;
  color: #090039;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: rgba(10, 0, 57, 0.64);
  margin-bottom: 3.2rem;
}

a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: #090039;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: #7158ef;
}
ul li {
  max-width: 25.7rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  list-style: none;
  display: flex;
  gap: 3.8rem;
  align-items: center;
  margin-top: 7.2rem;
  color: #090039;
}
ul li + li {
  margin-top: 3.2rem;
}
span {
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8rem;
  letter-spacing: -2px;
  color: #090039;
}
@media (min-width: 76.8em) {
  body {
    padding: 8rem 28.4rem 10.8rem 13.5rem;
  }
  main {
    max-width: 1021px;
    display: flex;
    gap: 11.6rem;
  }
  .text {
    max-width: 484px;
  }
  ul li {
    max-width: 321px;
    align-items: center;
    gap: 6.6rem;
  }
}
